.landing {
  height: 100vh;
  min-height: 700px;
  background-image: url("/images/hero_1.jpg");
  background-color: aqua;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .overlay::before {
    content: "";
    position: absolute;
    width: 100% !important;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .container {
    .content {
      width: 90%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      h1 {
        width: 83%;
        color: $bs-white;
        font-size: 80px;
        line-height: 1;
        font-family: "Playfair Display", serif;
        margin-bottom: 50px;
      }
      div {
        display: flex;
        align-items: center;
        button {
          @include button;
          background-color: transparent;
          border: 3px solid $bs-white;
          font-size: 16px;
          margin-right: 25px;
          transition: 0.3s;
          &:hover {
            background-color: $bs-white;
            color: $bs-black;
            border-color: transparent;
          }
        }
        a {
          display: flex;
          align-items: center;
          .video-icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            color: $bs-white;
            border-radius: 50%;
            border: 1px solid rgba($bs-white, 0.3);
            margin-right: 10px;
            position: relative;
            transition: border-color 0.4s;
            &:hover {
              border-color: $bs-white;
            }
            &::before {
              font-family: "Font Awesome 5 Free";
              content: "\f04b";
              font-weight: 900;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          span {
            color: $bs-white;
            font-size: 18px;
          }
        }
      }
    }
  }
}

//=======medium media==========
@include small-device {
  .landing {
    .container {
      .content {
        h1 {
          font-size: 40px;
        }
      }
    }
  }
}

//=========mobile media========
@include mobile-device {
  .landing {
    .container {
      .content {
        h1 {
          font-size: 38px;
        }
      }
    }
  }
}
