$bs-white: #fff;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-secondary: #808080;
$bs-light: rgba(#fff, 0.7);
$bs-dark: #212529;
$bs-heading: #4d4d4d;
$bs-button: #222;
$bs-black: #000;
$background-section: #f8f9fa;
$bs-shadow: #eee;
$bs-link: #ccc;
$bs-testimonials: #222;
